<!doctype html>
{{- $theme := .Params.theme | default .Site.Params.defaultTheme }}
<html class="{{- if (eq $theme "light") -}}light{{- else if (eq $theme "dark") }}dark{{ end }}" lang="{{- site.LanguageCode | default "en" -}}">
  {{ partial "head.html" . }}
  {{ if or (eq .RelPermalink "/about/") (eq .RelPermalink "/es/about/") }}
    <style>
      body {
        background-position: left 50px top 80px !important;
        background-size: 12% !important;
      }
    </style>
  {{ end }}
  <body{{ if or (eq .RelPermalink "/about/") (eq .RelPermalink "/es/about/") }} class="about"{{ end }}>
    {{ block "header" . }}{{ partial "header.html" . }}{{ end }}
    <main>
      {{ block "main" . }}{{ end }}
    </main>
    {{ block "footer" . }}{{ partialCached "footer.html" . }}{{ end }}
  </body>
</html>
